In [2]:
# %load ../common_imports.py
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from jlam.py_sql import PySql
import jlam.conn_constants as cnst
%matplotlib inline

import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from IPython.core import debugger as dbg

%load_ext autoreload
%autoreload 2

# usage pandas_profiling.ProfileReport(df)
#import pandas_profiling ;

#bidata = PySql(cnst.SVR_BIEDW,cnst.DB_BI_DATA)
#biops = PySql(cnst.SVR_BIEDW,cnst.DB_BI_OPERATIONAL)

In [6]:
lst=list(np.arange(0,20,2))
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
5 in lst

False

In [8]:
14 in lst

True

In [9]:
lst.extend(list(np.arange(100,125,4)))

In [10]:
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 100, 104, 108, 112, 116, 120, 124]

In [14]:
longList=list(np.random.randint(10,80,500))

In [23]:
from collections import Counter, defaultdict

In [18]:
c = Counter(longList)

In [24]:
import requests as req

In [25]:
res=req.get('http://lighthouse2001.org')

In [26]:
res.status_code

200

In [33]:
cc = Counter(res.text.replace('<div','').replace('</div>','').replace('<a','').replace('</a>','').split())

In [34]:
cc.most_common(10)

[('class="collection">', 46),
 ('<meta', 19),
 ('Christian', 18),
 ('class="sqs-block', 14),
 ('to', 13),
 ('class="col', 11),
 ('-->', 9),
 ('/>', 9),
 ('Lighthouse', 9),
 ('Lake', 9)]

In [37]:
# return True when everything is true
all([[1,2],'all is well',1.0]),all([[1,2],'all is well',0.0])

(True, False)

### Sorting

In [39]:
rand_lst = np.random.randint(100,100000,10)
rand_lst

array([15638,  7597, 95432, 68323, 91269,  5156, 77034,  4871,   522,
       58368])

In [41]:
sorted(rand_lst,reverse=True)

[95432, 91269, 77034, 68323, 58368, 15638, 7597, 5156, 4871, 522]

In [42]:
sorted(cc.items()
           ,key=lambda pair:pair[1]
           ,reverse=True)[:10]

[('class="collection">', 46),
 ('<meta', 19),
 ('Christian', 18),
 ('class="sqs-block', 14),
 ('to', 13),
 ('class="col', 11),
 ('-->', 9),
 ('/>', 9),
 ('Lighthouse', 9),
 ('Lake', 9)]

### Comprehensions - transforming list

In [45]:
[x for x in range(21) if x % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Generator

In [47]:
def generate_range(n):
    i = 0
    while i < n:
        yield i # only run when it is called
        i += 1

In [48]:
# another way to create generator is to wrap comprehensions in parentheses
def evens_below_range(n):
    return (i for i in generate_range(n) if i % 2 == 0)

In [54]:
[i for i in evens_below_range(21)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Enumerate - generate indices

In [69]:
lst_of_words=[pair[0] for pair in cc.most_common(30)]
for i, w in enumerate(lst_of_words):
    print(f"{i}. {w}")

0. class="collection">
1. <meta
2. Christian
3. class="sqs-block
4. to
5. class="col
6. -->
7. />
8. Lighthouse
9. Lake
10. rel="stylesheet"
11. type="text/css"
12. viewBox="0
13. 0
14. 64
15. <!--
16. the
17. class="folder">
18. class="folder-toggle"
19. class="subnav">
20. >
21. <script
22. class="row
23. sqs-row">
24. =
25. Hills
26. Boulevard,
27. Suite
28. WA,
29. class="sqs-block-content">

In [68]:
cc.most_common(10)

[('class="collection">', 46),
 ('<meta', 19),
 ('Christian', 18),
 ('class="sqs-block', 14),
 ('to', 13),
 ('class="col', 11),
 ('-->', 9),
 ('/>', 9),
 ('Lighthouse', 9),
 ('Lake', 9)]

### Default Dict

In [70]:
from collections import defaultdict

In [72]:
dd = defaultdict(list)

In [73]:
dd['dad']

[]

In [74]:
dd

defaultdict(list, {'dad': []})

In [75]:
dd['dad']='john'

In [76]:
dd['dad']

'john'

### Randomness

In [77]:
import random
rd = [random.random() for _ in range(10)]

In [78]:
rd

[0.3195199945754147,
 0.5136561103305098,
 0.7636632561644223,
 0.7032631857549722,
 0.7141784574444484,
 0.4106686218381532,
 0.2563876197410081,
 0.7512059331009536,
 0.4076193067044098,
 0.6991913390090404]

In [79]:
ri = random.randrange(10,30)
ri

12

In [80]:
def rand_int(low,high,count):
    return [random.randrange(low,high) for _ in range(count)]

In [81]:
rand_int(1,40,5)

[26, 18, 30, 38, 38]

### Regular Expressions

In [82]:
import re

In [90]:
re_examples = [
    not re.match('a','AI is the future'),
    'is'==re.search('is','AI is the future'),
    'R-D-'==re.sub('[0-9]','-','R2D3')
]
re_examples

[True, False, True]

In [91]:
val=re.search('is','AI is the future')

In [93]:
val.start

### Zip and unzip

In [94]:
names = ['john','joe','jim']
scores = [80,90,99]

In [95]:
test_scores = [x  for x in zip(names,scores)]
test_scores

[('john', 80), ('joe', 90), ('jim', 99)]

### Argument unpacking

In [97]:
n,s = zip(*test_scores)
print(n),print(s)

('john', 'joe', 'jim')
(80, 90, 99)

(None, None)

### Unnamed arguments and Keyword arguments

In [98]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

In [99]:
magic(1,2,4,k1='cool',k2='python')

unnamed args: (1, 2, 4)
keyword args: {'k1': 'cool', 'k2': 'python'}

### Type annontations

In [103]:
def add(a:int, b:int) -> int:
    return a + b

In [104]:
add(1,2.9)

3.9

In [102]:
add(1.0,2.0)

3.0